{% extends 'users/base.html' %}

{% block head_content %}
    <title>Login</title>
{% endblock %}

{% block container %}
    <form method="POST" action="{% url 'login' %}" class="mb-5">
        {% csrf_token %}
        {{form.non_field_errors}}

        <h1 class="h1 display-4 text-center mb-5">Games store</h1>
        {% if error %}<p class="alert alert-danger">{{error}}</p>{% endif %}

        <div class="form-group">{{form.username}}</div>
        <div class="form-group">{{form.password}}</div>
        <input type="submit" value="Login" class="btn btn-block btn-primary">
    </form>
    <div class="text-center">
        <p>¿You don't have an account?<a href="{% url 'register' %}" class="no-underlined-link">&nbsp;Register</a></p>
    </div>
{% endblock %}